
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<hr />
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody id="cartTable">
                 
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />



<script src="~/Scripts/cartJs.js"></script>
